body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	background-color: #EBEBEB;
	color: rgb(30,30,30);
	margin: 0 0 0 0;
	padding: 0 0;
}	

p {
	font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

/* --- Components design import--- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/list.css");